language: php

services:
  - docker

php:
  - 7.2
  - 7.3
  - 7.4
#  - nightly-8.0

env:
  matrix:
    - PREFER_LOWEST="--prefer-lowest --prefer-stable"
    - PREFER_LOWEST=""

before_script:
  - composer global require hirak/prestissimo
  - composer update $PREFER_LOWEST

script:
  - composer validate --no-check-all --strict
  - mkdir -p build/logs
  - vendor/bin/phpunit --testsuite=integration
  - vendor/bin/phpunit --testsuite=unit --coverage-text  --coverage-clover build/logs/clover.xml
  - bash .githooks/pre-commit

after_script:
  - composer require php-coveralls/php-coveralls
  - composer require codacy/coverage
  - vendor/bin/php-coveralls -v
  - vendor/bin/codacycoverage clover build/logs/clover.xml


